@font-face{
    font-family: 'Montserrat';
    src: url(../assets/fonts/Montserrat-Light.ttf);
}
:root{
    --bg-dark: #1A2f3A;

    --logo-height: 100px;
    --header-height: 100px;
    --aside-width: 225px;
    --footer-height: 40px;

    --shadow: 
            0 2px 23px rgba(0, 0, 0, 0.1),
            0 2px 49px rgba(0, 0, 0, 0.06);
}

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Layout em Grid */

.app{
    margin: 0;
    display: grid;

    grid-template-columns: var(--aside-width) 1fr;
    grid-template-rows: var(--header-height) 1fr var(--footer-height);
    grid-template-areas: "logo header" "menu content" "menu footer";
    height: 100vh;
    background-color: #f5f5f5;

}

aside.logo{
    grid-area: logo;
}
header.header{
    grid-area: header;
}
aside.menu-area{
    grid-area: menu;
}
main.content{
    grid-area: content;
}
footer.footer{
    grid-area: footer;
}